/* common settings */
body {
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
}

.custom_line {
  display: inline-block;
  width: 100px;
  height: 4px;
  background-color: #FFFFFF;
  margin-bottom: 12px;
  border-radius: 2px;
  vertical-align: middle;
}

h1 {
  font-weight: 700;
}

h2{
  font-size: 40px;
  font-weight: 700;
}

.font_size_48 {
  font-size: 48px;
}

.container-fluid {
  background-color: red;
}

.container {
  height: 100%;
}

.fa-star{
  font-size: 48px;
}
/* fine common settings */

/* inzio navbar */
.row.nav {
  background-color: #2c3e50;
  height: 80px;
}
/* fine navbar */

/* inizio main e startboot-jumbo*/
.start_bootstrap {
  color: #FFFFFF;
  text-align: center;
  text-transform: uppercase;
}

.start_bootstrap img {
  height: 200px;
}

.start_bootstrap .jumbotron {
  background-color: #1abc9c;
}

/* fine startboot-jumbo */

/* inizio portfolio */
.portfolio .title {
  text-align: center;
  text-transform: uppercase;
}

.portfolio img {
  width: 100%;
  border-radius: 10px;
}

.portfolio .box {
  padding: 10px 0;
}

.portfolio{
  padding-bottom: 40px;
}

.portfolio .custom_line{
  background-color: #2c3e50;
}
/* fine portfolio */

/* inizio about */
.about {
  background-color: #1abc9c;
  text-align: center;
  color: #fff;
}

.about h2{
  text-transform: uppercase;
}

.about p{
  text-align: left;
}

.about a{
  padding: 12px 16px;
  background-color: #1abc9c;
  border: 1px solid white;
  color: #fff;
  margin: 10px 0;
}

/* fine about */

/* inizia contact me */
.contact_me {
  color: #2c3e50;
}

.contact_me .portfolio{
  text-align: center;
  text-transform: uppercase;
}

.contact_me .custom_line {
  background-color: #2c3e50;
}

.contact-me h2 {
  text-align: center;
}
/* fine contact me */
/* fine main */

/* inizio footer */
.info {
  padding: 30px 0;
  background-color: #2c3e50;
  color: #FFFFFF;
  text-align: center;
}

.info h2 {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
}

.info p {
  margin-top: 20px;
  font-size: 20px;
}

.info .social {
  margin-top: 20px;
}

.info .social a {
  color: #fff;
  font-size: 24px;
  text-decoration: none;
  margin: 0 5px;
  border: 2px solid white;
  border-radius: 50%;
  line-height: 50px;
  padding: 10px 15px;
}

.info p > a {
  color: #1abc9c;
  text-decoration: none;
}
